<footer class="footer">
    <div class="footer-container">
        <div class="footer-columns">
            <div class="footer-column">
                <h3 class="footer-heading">Join Us Today</h3>
                <nav class="footer-nav">
                    <a href="/demo">Demo</a>
                    <a href="#">Sign Up (Coming soon)</a>
                    <a href="#">Log In (Coming soon)</a>
                </nav>
            </div>

            <div class="footer-column">
                <h3 class="footer-heading">Learning Hub</h3>
                <nav class="footer-nav">
                    <a href="/how-it-works" class="footer-nav-text">About</a>
                    <a href="#" class="footer-nav-text">Blogs (Coming soon)</a>
                    <a href="#" class="footer-nav-text">Podcasts (Coming soon)</a>
                </nav>
            </div>

            <div class="footer-column">
                <h3 class="footer-heading">Legal</h3>
                <nav class="footer-nav">
                    <a href="#">Privacy (Coming soon)</a>
                    <a href="#">Terms of Service (Coming soon)</a>
                </nav>
            </div>
        </div>
        <div class="divider"></div>
        <div class="social-block">
            <a href="https://github.com/markbuckle/health-tracker" class="remove-underline">
                <div class="source-code-link">Source Code &lt;/&gt;</div>
            </a>
            <div class="social-icons">
                <!-- Add social icons here if needed -->
            </div>
        </div>
    </div>
</footer>