<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="home-body">
    {{> header pageTitle="Health Tracker"}}
    <section class="content-container">
        <div class="hero">
            <div class="hero-container">
              <h1 class="hero-title">Your secure and easy-to-use personalized health tracker</h1>
              <a href="/demo" class="button-basics btn-primary">
                <div class="flex-horizontal">Try the demo
                </div>
              </a>
            </div>
            <img src="images/iphonelayered.png" loading="lazy" alt="" class="mobile">
        </div>
        <div class="quote-container">
            <div class="quote-1">Optimize your health with unique and actionable insights</div>
          </div>
          <div>
            <img src="images/Dashboard.png" loading="lazy" width="Auto" height="Auto" alt="" 
            class="demo-page-img"></div>
          <div class="quote-container">
            <div class="quote-2">&quot;This (system) change will not happen by the medical establishment, either; it will happen only if and when patients and physicians demand it&quot; <br>- Dr. Peter Attia in his book Outlive<br>‍</div>
          </div>
    </section>
    <section>
        <div class="white-strip">
            <img src="images/wave.svg" loading="lazy" alt=""></div>
      </section>
    {{> footer}}
    <script src="js/main.js" defer type="module"></script>
</body>
</html>