<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="home-body">
    <header id="header" class="header">
        <div id="headerContainer" class="header-container">
            <a href="/" class="logo-block">
                <img id="logo" src="images/logo2_1.png" loading="lazy" alt="Logo"></a>
            <div class="center-header">
              <a href="/demo" class="header-links">Demo</a>
              <a href="/how-it-works"  class="header-links">Getting Started</a>
            </div>
            <div class="authentication-block">
              <a href="/login" class="button-basics button-blue">Log In</a>
              <a href="/register" class="button-basics button-green">Sign Up</a>
              <a href="https://github.com/markbuckle/health-tracker" class="icon-link">
                <svg xmlns="http://www.w3.org/2000/svg" 
                    width="25" height="25" fill="none" viewbox="0 0 20 16" app="ikonik" 
                    class="icon-div">
                  <path fill="#64a5ce" 
                        d="M5.707 3.293a1 1 0 0 0-1.414 0l-4 4a1 1 0 0 0 0 1.414l4 4a1 1 0 1 0 1.414-1.414L2.414 8l3.293-3.293a1 1 0 0 0 0-1.414Zm14 4-4-4a1 1 0 1 0-1.414 1.414L17.586 8l-3.293 3.293a1 1 0 1 0 1.414 1.414l4-4a1 1 0 0 0 0-1.414ZM11.142.01a1 1 0 0 0-1.132.848l-2 14a1 1 0 1 0 1.98.284l2-14A1 1 0 0 0 11.142.01Z" 
                        app="ikonik" class="icon-symbol"></path>
                </svg></a>
            </div>
        </div>
    </header>
    <section class="content-container">
        <div class="hero">
            <div class="hero-container">
              <h1 class="hero-title">Your secure and easy-to-use personalized health tracker</h1>
              <button href="demo.html" class="button-basics btn-primary">
                <div class="flex-horizontal">Try the demo
                </div>
              </button>
            </div><img src="images/iphonelayered.png" loading="lazy" width="408" sizes="29vw" alt="" srcset="images/iphonelayered-p-500.png 500w, images/iphonelayered.png 675w" class="mobile">
        </div>
        <div class="quote-container">
            <div class="quote-1">Optimize your health with unique and actionable insights</div>
          </div>
          <div>
            <img src="images/Dashboard.png" loading="lazy" width="Auto" height="Auto" alt="" 
            class="demo-page-img"></div>
          <div class="quote-container">
            <div class="quote-2">&quot;This (system) change will not happen by the medical establishment, either; it will happen only if and when patients and physicians demand it&quot; <br>- Dr. Peter Attia in his book Outlive<br>‍</div>
          </div>
    </section>
    <section>
        <div class="white-strip">
            <img src="images/wave.svg" loading="lazy" alt=""></div>
      </section>
      <footer class="footer">
        <div class="footer-container">
            <div class="footer-columns">
                <div class="footer-column">
                    <h3 class="footer-heading">Join Us Today</h3>
                    <nav class="footer-nav">
                        <a href="demo.html">Demo</a>
                        <a href="#">Sign Up (Coming soon)</a>
                        <a href="#">Log In (Coming soon)</a>
                    </nav>
                </div>
                
                <div class="footer-column">
                    <h3 class="footer-heading">Learning Hub</h3>
                    <nav class="footer-nav">
                        <a href="how-it-works.html">About</a>
                        <a href="#">Blogs (Coming soon)</a>
                        <a href="#">Podcasts (Coming soon)</a>
                    </nav>
                </div>
                
                <div class="footer-column">
                    <h3 class="footer-heading">Legal</h3>
                    <nav class="footer-nav">
                        <a href="#">Privacy (Coming soon)</a>
                        <a href="#">Terms of Service (Coming soon)</a>
                    </nav>
                </div>
            </div>
            <div class="social-block">
                <a href="https://github.com/markbuckle/health-tracker" class="remove-underline">
                    <div class="source-code-link">Source Code &lt;/&gt;</div>
                </a>
                <div class="social-icons">
                    <!-- Add social icons here if needed -->
                </div>
            </div>
        </div>
    </footer>
    <script> // header scroll animation
        window.addEventListener('scroll', function() {
            const header = document.getElementById('header');
            const headerContainer = document.getElementById('headerContainer');
            const logo = document.getElementById('logo');
            const scrollPosition = window.scrollY;

            if (scrollPosition > 50) { // Adjust this value to control when the animation triggers
                header.classList.add('header-scrolled');
                headerContainer.classList.add('header-container-scrolled');
                logo.classList.add('logo-scrolled');
            } else {
                header.classList.remove('header-scrolled');
                headerContainer.classList.remove('header-container-scrolled');
                logo.classList.remove('logo-scrolled');
            }
        });
    </script>
</body>
</html>