<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="login-register-body">
    <a href="/" class="authentication-logo" aria-label="Home">
        <img src="images/logo2_1.png" loading="lazy" alt="Company Logo">
      </a>
    <div class="form-wrap">
        <div class="register-block">
                <h1 class="heading">Log In</h1>
                <form action="/login" method="post" class="register-form">
                    <div class="inner-form-div">
                        <label for="uname" class="form-label">Username</label>
                        <input type="text" class="form-input" id="uname" name="uname" placeholder="" required>
                    </div>
                    <div class="inner-form-div">
                        <label for="password" class="form-label">Password</label>
                        <div class="password-wrap">
                            <input type="password" class="form-input" id="password" name="password" placeholder="" required>
                            <div class="password-toggle">
                                <img id="eye-open" alt="" loading="lazy" class="eye-open">
                                <img id="eye-close" alt="" loading="lazy" class="eye-close">
                            </div>
                        </div>
                    </div>
                    <div class="button-container">
                        <button type="submit" class="button-basics auth-buttons button-blue" value="login">Sign In</button>
                        <div class="standard-text">Dont have a account ?</div>
                        <button type="button" class="button-basics auth-buttons button-green" onclick="window.location.href='/register'">Sign Up</button>
                    </div>
                </form>
        </div>
    </div>
</body>
</html>