<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="login-register-body">
    <a href="/" class="authentication-logo" aria-label="Home">
        <img src="images/logo2_1.png" loading="lazy" alt="Company Logo">
      </a>
    
    <div class="form-wrap">
        <div class="register-block">
                <h1 class="heading">Register</h1>
                <form action="/register" method="post" class="register-form">
                    <div class="inner-form-div">
                        <label for="fname" class="form-label">First name</label>
                        <input type="text" class="form-input" id="fname" name="fname" placeholder="" required> 
                    </div>
                    <div class="inner-form-div">
                        <label for="lname" class="form-label">Last name</label>
                        <input type="text" class="form-input" id="lname" name="lname" placeholder="" required>
                    </div>
                    <div class="inner-form-div">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-input" id="email" name="email" placeholder="" required>
                    </div>
                    <div class="inner-form-div">
                        <label for="uname" class="form-label">Username</label>
                        <input type="text" class="form-input" id="uname" name="uname" placeholder="" required>
                    </div>
                    <div class="inner-form-div">
                        <label for="password" class="form-label">Password</label>
                        <div class="password-wrap">
                            <input type="password" class="form-input" id="password" name="password" placeholder="" required>
                            <div class="password-toggle">
                                <img id="eye-open" alt="" loading="lazy" class="eye-open">
                                <img id="eye-close" alt="" loading="lazy" class="eye-close">
                            </div>
                        </div>
                    </div>
                    <div class="inner-form-div">
                        <label for="confirmPassword" class="form-label">Password</label>
                        <div class="password-wrap">
                            <input type="password" class="form-input" id="confirmPassword" name="confirmPassword" placeholder="" required>
                            <div class="password-toggle">
                                <img id="eye-open" alt="" loading="lazy" class="eye-open">
                                <img id="eye-close" alt="" loading="lazy" class="eye-close">
                            </div>
                        </div>
                    </div>
                    <div class="button-container">
                        <button type="submit" class="button-basics button-green" value="register">Sign Up</button>
                        <a href="/login"  class="hyperlink-text">Go back to login page</a>
                    </div>
                </form>
        </div>
    </div>
    <script>
        document.querySelectorAll('.password-toggle').forEach(toggle => {
            toggle.addEventListener('click', () => {
                const input = toggle.previousElementSibling;
                input.type = input.type === 'password' ? 'text' : 'password';
                toggle.classList.toggle('active');
            });
        });
    </script>
</body>
</html>